body {
  background: url(../img/chalkboard.jpg);
  background-size: 100em;
  background-repeat: no-repeat; 
  font-family: 'Permanent Marker', cursive;
  color: #d3d3d3;
  font-size: 2em;
  padding-left: 20%;
  padding-right: relative;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.clickable-task:hover {
  cursor: pointer;
}

.enter-tasks {
  display: none;
  padding-top: 45px;
  float: right;
  padding-right:20%;
}

.completed-task-field {
  display: none;
  padding-top: 25px;
}

#task-list li:hover{
  color: #ffffff;
}

#completed-tasks {
  text-decoration: line-through;
}

#new-list {
  width: 255px;
}
#task-list {
  font-size: 2.2em;
}

h1, h2, h4, h5 {
  color: #FAF9AF;
  font-family: 'Permanent Marker', cursive;
  
}

h2 {
  font-size: 2.4em;
}

ul {
  list-style-type: none;
}

/*h5 {
  color: #d3d3d3;
  font-family: 'Permanent Marker', cursive;
}*/
